<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>L'Espérance</title>
    <meta name="description" content="L'Espérance">
    <meta name="keywords" content="Francois Xavier Dufour, Francois Xavier Bernardin, espérance, dieu, café, chrétien, église">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>
  <body>
    <div class="layout">
        <div class="page container">
        <header class="header">
          <span class="brand">L'espérance</span>
          <a href="#!">Nous soutenir</a>
        </header>

        <nav class="navbar">
          <ul class="menu">
            <li class="menu__item"><a href="/">Le projet</a></li>
            <li class="menu__item"><a href="/equipe">Notre équipe</a></li>
            <li class="menu__item"><a href="/contact">Contact</a></li>
          </ul>
        </nav>
        <main class="main">
          <article>
            <article>
              <section>
                <h2>NOTRE EQUIPE</h2>
                <h5>FRANCOIS-XAVIER BERNARDIN</h5>
                <p>Diplômé d'un master en Droit des Affaires et d'un master en Droit Notarial, spécialisé en Droit des contrats, il assurera la gestion juridique et financière du réseau et apportera son soutien à l'implantation des cafés de paroisse.    Nous contacter pour obtenir le CV</p>
                <h5>FRANCOIS-XAVIER DUFOUR</h5>
              </section>
            </article>
          </article>
        </main>
        <footer class="footer">
          <p>&#169; 2017 L'espérance. Tout droits réservés.</p>
        </footer>
      </div>
    </div>
  <body>
</html>
