
          <article>
            <section>
              <h2>NOTRE EQUIPE</h2>
              <h5>FRANCOIS-XAVIER BERNARDIN</h5>
              <p>Diplômé d'un master en Droit des Affaires et d'un master en Droit Notarial, spécialisé en Droit des contrats, il assurera la gestion juridique et financière du réseau et apportera son soutien à l'implantation des cafés de paroisse.    Nous contacter pour obtenir le CV</p>
              <h5>FRANCOIS-XAVIER DUFOUR</h5>
            </section>
          </article>
