<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>L'Espérance</title>
    <meta name="description" content="L'Espérance">
    <meta name="keywords" content="Francois Xavier Dufour, Francois Xavier Bernardin, espérance, dieu, café, chrétien, église">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans%7CPT+Serif:400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet">
  </head>
  <body>
    <div class="layout">
        <div class="page container">
        <header class="header" style="background: pink;">
          <span class="brand">L'espérance</span>
          <a href="#!">Nous soutenir</a>
        </header>

        <nav class="navbar" style="background: red;">
          <ul class="menu">
            <li class="menu__item"><a href="/">Le projet</a></li>
            <li class="menu__item"><a href="/equipe">Notre équipe</a></li>
            <li class="menu__item"><a href="/contact">Contact</a></li>
          </ul>
        </nav>
        <main class="main" style="background: cyan;">
          <article>
            <section>
              <h2>Le Projet</h2>
              <p>L’ESPERANCE a pour objectif de promouvoir à la fois des liens de fraternité chrétienne au sein de chaque communauté paroissiale, et de développer l’accueil et l’ouverture au plus grand nombre afin de faciliter la communication de l’Eglise sur nos parvis.</p>
              <p>Le constat est simple. L’attachement social et culturel de nos concitoyens aux valeurs de l’Eglise n’est pas suffisamment fort pour redonner à nos paroisses le souffle et la vie qui leur manquent de plus en plus. Il nous faut donc, en tant que catholiques engagés dans une société bercée d’indifférence, regagner les territoires perdus de l’Eglise, en communiquant davantage où le besoin s’en fait sentir. Le Pape François nous exhorte à reconquérir ces espaces sans foi ni ferveur, où la majorité de nos concitoyens connaissent mal le trésor spirituel de nos communautés locales. « Sortir de nos églises » implique de nous engager dans un témoignage concret de la foi, auprès de ceux qui s’en sont éloignés.</p>
              <p>Forts de ce constat, nous proposons à toutes les paroisses de bonne volonté de créer, avec nous, des cafés de paroisse, qui porteront le nom du saint patron de l’église locale, afin de redynamiser notre communication. </p>
              <p>« Ceux qui n’ont pas d’amour habitent les cafés » disait Aragon. Le café de paroisse sera un lieu neutre, ouvert et visible, qui permettra à tous, des plus fervents aux plus indifférents, de rencontrer et de partager des moments de convivialité dans un café qui portera au cœur de nos villes, l’identité de nos paroisses. </p>
            </section>
            <section>
              <h2>Engagement</h2>
              <p>L’objectif est de permettre, par notre intermédiaire, à tout diocèse et toute paroisse intéressés, de tenir un café local, animé par la communauté paroissiale. </p>
              <p>Engagement financier : chaque fonds de commerce est acheté par L’ESPERANCE, avec le soutien financier du diocèse et/ou de la paroisse. L’installation, la gestion des stocks, les commandes et marchandises sont gérées directement par L’ESPERANCE.</p>
              <p>Engagement éthique : toutes les activités ou manifestations culturelles, musicales sont laissées à la discrétion des communautés locales, qui pourront faire appel à L’ESPERANCE pour tout le soutien logistique dont elles auraient besoin. </p>
              <p>Engagement opérationnel : Composée de deux associés, L'ESPERANCE est résolument tournée vers le développement commercial et le soutien logistique des cafés de paroisse. Organisés en réseaux, les cafés bénéficieront de l'expertise et du management des associés de L'ESPERANCE, qui assureront la gestion comptable et juridique des cafés partenaires, les commandes et marchés, la fourniture des stocks et des marchandises. Associés à une structure souple et transparente, les cafés de paroisse pourront se décharger sur l'ESPERANCE de toute l'organisation administrative pour se concentrer sur la gestion du commerce.</p>
            </section>
            <section>
              <h2>Valeurs</h2>
              <p>CHRETIENNES. Notre projet a vocation à témoigner des valeurs chrétiennes partagées dans nos communautés. Sans aucun prosélytisme, la seule identité du café de proximité, permettra aux plus éloignés de la foi de rencontrer les membres de nos communautés sans franchir le seuil de nos églises.</p>
              <p>SIMPLICITE. La simplicité des moyens sera le maitre mot de notre action. Le café sera géré librement par les paroisses, selon des horaires d’ouverture établis conjointement par la communauté locale et l’ESPERANCE. L’objectif est de n’acquérir que des cafés à faible prix, ou en liquidation judiciaire, selon une étude de marché réalisée par nos soins. Chaque café pourra être exploité en location gérance, sous salariat ou bénévolat selon l’organisation des communautés locales.</p>
              <p>TRANSPARENCE. Les recettes de l’exploitation seront partagées entre la paroisse et/ou le diocèse, et l’ESPERANCE. Chacun de nos partenaires disposera d’un strict droit de contrôle sur les bilans comptables de l’ESPERANCE.</p>
            </section>
          </article>
        </main>
        <footer class="footer" style="background: yellow;">
          <p>&#169; 2017 L'espérance. Tout droits réservés.</p>
        </footer>
      </div>
    </div>
  <body>
</html>
