<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>L'Espérance</title>
    <meta name="description" content="L'Espérance">
    <meta name="keywords" content="Francois Xavier Dufour, Francois Xavier Bernardin, espérance, dieu, café, chrétien, église">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans%7CPT+Serif:400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet">
  </head>
  <body>
    <div class="layout">
      <div class="page container">
        <header class="header">
          <span class="brand">L'espérance</span>
          <a href="#!">Nous soutenir</a>
        </header>

        <nav class="navbar">
          <ul class="menu">
            <li class="menu__item"><a href="/">Projet</a></li>
            <li class="menu__item"><a href="/equipe">Equipe</a></li>
            <li class="menu__item"><a href="/contact">Contact</a></li>
          </ul>
        </nav>
        <main class="main">
          <article>
            <section>
              <h2>Projet</h2>
              <p>L’ESPERANCE a pour objectif de promouvoir à la fois des liens de fraternité chrétienne au sein de chaque communauté paroissiale, et de développer l’accueil et l’ouverture au plus grand nombre afin de faciliter la communication de l’Eglise sur nos parvis.</p>
              <p>Le constat est simple. L’attachement social et culturel de nos concitoyens aux valeurs de l’Eglise n’est pas suffisamment fort pour redonner à nos paroisses le souffle et la vie qui leur manquent de plus en plus. Il nous faut donc, en tant que catholiques engagés dans une société bercée d’indifférence, regagner les territoires perdus de l’Eglise, en communiquant davantage où le besoin s’en fait sentir. Le Pape François nous exhorte à reconquérir ces espaces sans foi ni ferveur, où la majorité de nos concitoyens connaissent mal le trésor spirituel de nos communautés locales. « Sortir de nos églises » implique de nous engager dans un témoignage concret de la foi, auprès de ceux qui s’en sont éloignés.</p>
              <p>Forts de ce constat, nous proposons à toutes les paroisses de bonne volonté de créer, avec nous, des cafés de paroisse, qui porteront le nom du saint patron de l’église locale, afin de redynamiser notre communication. </p>
              <p>« Ceux qui n’ont pas d’amour habitent les cafés » disait Aragon. Le café de paroisse sera un lieu neutre, ouvert et visible, qui permettra à tous, des plus fervents aux plus indifférents, de rencontrer et de partager des moments de convivialité dans un café qui portera au cœur de nos villes, l’identité de nos paroisses. </p>
            </section>
          </article>
        </main>
        <footer class="footer">
          <p>&#169; 2017 L'espérance. Tout droits réservés.</p>
        </footer>
      </div>
    </div>
  <body>
</html>
