<header>
  <div class="header-top clearfix">
    <h1 class="l-left"><a href="#firstSection">L'Espérance</a></h1>
    <a class="l-right toggle-menu" href="#">
      <i></i>
      <i></i>
      <i></i>
    </a>
  </div>

  <nav class="hide">
    <ul id="menu">
      <li data-menuanchor="firstSection">
        <a href="#firstSection" title="First Section">First Section</a>
      </li>
      <li data-menuanchor="secondSection">
        <a href="#secondSection" title="Second Section">Second Section</a>
      </li>
      <li data-menuanchor="thirdSection">
        <a href="#thirdSection" title="Second Section">Third Section</a>
      </li>
      <li data-menuanchor="fourthSection">
        <a href="#fourthSection" title="First Slide">First Slide</a>
      </li>
      <li data-menuanchor="fourthSection/1">
        <a href="#fourthSection/1" title="Second Slide">Second Slide</a>
      </li>
    </ul>
  </nav>
</header>

<div id="fullpage">
  <section class="vertical-scrolling">
    <h2>Le Projet</h2>
    <p>L’ESPERANCE a pour objectif de promouvoir à la fois des liens de fraternité chrétienne au sein de chaque communauté paroissiale, et de développer l’accueil et l’ouverture au plus grand nombre afin de faciliter la communication de l’Eglise sur nos parvis.
    </br>
    </br>
    Le constat est simple. L’attachement social et culturel de nos concitoyens aux valeurs de l’Eglise n’est pas suffisamment fort pour redonner à nos paroisses le souffle et la vie qui leur manquent de plus en plus. Il nous faut donc, en tant que catholiques engagés dans une société bercée d’indifférence, regagner les territoires perdus de l’Eglise, en communiquant davantage où le besoin s’en fait sentir. Le Pape François nous exhorte à reconquérir ces espaces sans foi ni ferveur, où la majorité de nos concitoyens connaissent mal le trésor spirituel de nos communautés locales. « Sortir de nos églises » implique de nous engager dans un témoignage concret de la foi, auprès de ceux qui s’en sont éloignés.
    </br>
    </br>
    Forts de ce constat, nous proposons à toutes les paroisses de bonne volonté de créer, avec nous, des cafés de paroisse, qui porteront le nom du saint patron de l’église locale, afin de redynamiser notre communication.
    </br>
    </br>
    « Ceux qui n’ont pas d’amour habitent les cafés » disait Aragon. Le café de paroisse sera un lieu neutre, ouvert et visible, qui permettra à tous, des plus fervents aux plus indifférents, de rencontrer et de partager des moments de convivialité dans un café qui portera au cœur de nos villes, l’identité de nos paroisses. </p>
    <div class="scroll-icon">
      <!-- <p>Jump into the last slide</p> -->
      <!-- <a href="#fourthSection/1" class="icon-up-open-big"></a> -->
    </div>
  </section>
  <section class="vertical-scrolling">
    <h2>Engagement</h2>
    <p>L’objectif est de permettre, par notre intermédiaire, à tout diocèse et toute paroisse intéressés, de tenir un café local, animé par la communauté paroissiale.
    </br>
    </br>
    Engagement financier : chaque fonds de commerce est acheté par L’ESPERANCE, avec le soutien financier du diocèse et/ou de la paroisse. L’installation, la gestion des stocks, les commandes et marchandises sont gérées directement par L’ESPERANCE.
    </br>
    </br>
    Engagement éthique : toutes les activités ou manifestations culturelles, musicales sont laissées à la discrétion des communautés locales, qui pourront faire appel à L’ESPERANCE pour tout le soutien logistique dont elles auraient besoin.
    </br>
    </br>
    Engagement opérationnel : Composée de deux associés, L'ESPERANCE est résolument tournée vers le développement commercial et le soutien logistique des cafés de paroisse. Organisés en réseaux, les cafés bénéficieront de l'expertise et du management des associés de L'ESPERANCE, qui assureront la gestion comptable et juridique des cafés partenaires, les commandes et marchés, la fourniture des stocks et des marchandises. Associés à une structure souple et transparente, les cafés de paroisse pourront se décharger sur l'ESPERANCE de toute l'organisation administrative pour se concentrer sur la gestion du commerce.</p>
  </section>
  <section class="vertical-scrolling">
    <h2>Valeurs</h2>
    <p>CHRETIENNES. Notre projet a vocation à témoigner des valeurs chrétiennes partagées dans nos communautés. Sans aucun prosélytisme, la seule identité du café de proximité, permettra aux plus éloignés de la foi de rencontrer les membres de nos communautés sans franchir le seuil de nos églises.
    </br>
    </br>
    SIMPLICITE. La simplicité des moyens sera le maitre mot de notre action. Le café sera géré librement par les paroisses, selon des horaires d’ouverture établis conjointement par la communauté locale et l’ESPERANCE. L’objectif est de n’acquérir que des cafés à faible prix, ou en liquidation judiciaire, selon une étude de marché réalisée par nos soins. Chaque café pourra être exploité en location gérance, sous salariat ou bénévolat selon l’organisation des communautés locales.
    </br>
    </br>
    TRANSPARENCE. Les recettes de l’exploitation seront partagées entre la paroisse et/ou le diocèse, et l’ESPERANCE. Chacun de nos partenaires disposera d’un strict droit de contrôle sur les bilans comptables de l’ESPERANCE.</p>
  </section>
  <section class="vertical-scrolling">
    <div class="horizontal-scrolling">
      <h2>Notre Equipe</h2>
      <h3>FRANCOIS-XAVIER BERNARDIN</h3>
      <p>Diplômé d'un master en Droit des Affaires et d'un master en Droit Notarial, spécialisé en Droit des contrats, il assurera la gestion juridique et financière du réseau et apportera son soutien à l'implantation des cafés de paroisse. Nous contacter pour obtenir le CV.</p>
      </br>
      </br>
      <h3>FRANCOIS-XAVIER DUFOUR</h3>
      <p>Diplômé d'un Master d'ingénierie en Réseaux Télécoms, François-Xavier a débuté sa carrière dans le monde du consulting, avec pour sujet la gestion du changement, la stratégie digitale, nécessitant une approche pragmatique mais surtout humaine pour résoudre des situations organisationelles complexes. Nous contacter pour obtenir le CV.</p>
    </div>
    <div class="horizontal-scrolling">
      <h2>Contact</h2>
      <h3>Vous avez une question sur l'espérance ?</h3>
      </br>
      </br>
      <p>Notre équipe est à votre écoute, envoyez nous un mail en cliquant sur le lien ci-dessous.</p>
      <p class="end">
         <a href="mailto:reseau.esperance@gmail.com?Subject=Contact espérance" target="_top" class="underline">reseau.esperance@gmail.com</a>
      </p>
    </div>
  </section>
</div>

<script type="text/javascript">
  document.addEventListener("turbolinks:load", function() {
    // variables
    var $header_top = $('.header-top');
    var $nav = $('nav');



    // toggle menu
    $header_top.find('a').on('click', function() {
      $(this).parent().toggleClass('open-menu');
    });



    // fullpage customization
    $('#fullpage').fullpage({
      sectionsColor: ['#44a9bd', '#348899', '#44a9bd', '#348899'],
      sectionSelector: '.vertical-scrolling',
      slideSelector: '.horizontal-scrolling',
      navigation: true,
      slidesNavigation: true,
      controlArrows: false,
      anchors: ['firstSection', 'secondSection', 'thirdSection', 'fourthSection'],
      menu: '#menu',

      afterLoad: function(anchorLink, index) {
        $header_top.css('background', 'rgba(0, 47, 77, .3)');
        $nav.css('background', 'rgba(0, 47, 77, .25)');
        if (index == 5) {
            $('#fp-nav').hide();
          }
      },

      onLeave: function(index, nextIndex, direction) {
        if(index == 5) {
          $('#fp-nav').show();
        }
      },

      afterSlideLoad: function( anchorLink, index, slideAnchor, slideIndex) {
        if(anchorLink == 'fourthSection' && slideIndex == 1) {
          $.fn.fullpage.setAllowScrolling(false, 'up');
          $header_top.css('background', 'transparent');
          $nav.css('background', 'transparent');
          $(this).css('background', '#374140');
          $(this).find('h2').css('color', 'white');
          $(this).find('h3').css('color', 'white');
          $(this).find('p').css(
            {
              'color': '#44a9bd',
              'opacity': 1,
              'transform': 'translateY(0)'
            }
          );
        }
      },

      onSlideLeave: function( anchorLink, index, slideIndex, direction) {
        if(anchorLink == 'fourthSection' && slideIndex == 1) {
          $.fn.fullpage.setAllowScrolling(true, 'up');
          $header_top.css('background', 'rgba(0, 47, 77, .3)');
          $nav.css('background', 'rgba(0, 47, 77, .25)');
        }
      }
    });
  });
</script>
