<!DOCTYPE html>
<html>
  <head>
    <title>Lesperance</title>
    <meta name="description" content="L'Espérance">
    <meta name="keywords" content="Francois Xavier Dufour, Francois Xavier Bernardin, espérance, dieu, café, chrétien, église">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
